.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 10vh;


  .title-home {
    display: flex;
    justify-content: center;
    width: 15%;
    height: 100%;
    background-color: #ffffff;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    padding-top: 17px;
    padding-left: 5px;

    .btn:focus {
      outline: none;
      box-shadow: none;
    }
    .btn:hover {
      background-color: aliceblue;
    }
    .item-cart {
      margin-right: 60px;
      .quantity-cart {
        background-color: aqua;
        height: 24px;
        width: 18px;
        border-radius: 100%;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
      float: none;

      .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        span {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        span:hover {background-color: #f1f1f1;}
      }
    }

    .dropdown:hover {
      .dropdown-content {display: block;}
    }
  }
}
