<div class="container">
  <h5 class="mb-5">{{'labels.item-list.item-list' | translate | uppercase}}</h5>
  <div class="row" [hidden]="!deleteMessage">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">{{'labels.item-list.icon-close' | translate }}</button>
        <strong>{{'messages.admin.deleted' | translate}}</strong>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="mt-5 mb-5">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#itemModal" (click)="addNew()">{{'labels.item-list.add' | translate }}</button>
  </div>
  <div class="table-responsive table-hover bg-white">
    <table class="table">
      <thead>
        <tr class="bg-info">
          <th>#</th>
          <th>{{'labels.item-list.name' | translate }}</th>
          <th>{{'labels.item-list.price' | translate }}</th>
          <th>{{'labels.item-list.update' | translate }}</th>
          <th>{{'labels.item-list.delete' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; index as i;">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#itemModal"
              (click)="updateItem(item.id)">{{'labels.item-list.update' | translate }}</button>
          </td>
          <td><button type="button" class="btn btn-primary" (click)="deleteItem(item.id)">{{'labels.item-list.delete' | translate }}</button></td>
        </tr>
        <tr *ngIf="!items?.length">
          <td colspan="5">
            <span class="display-message">
              {{'messages.admin.no-data' | translate}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal" id="itemModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
          <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}} {{'labels.item-list.item' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div [hidden]="isSaved">
              <input type="hidden" class="form-control" formControlName="itemId" [(ngModel)]="item.id">
              <div class="form-group">
                <label for="itemName">{{'labels.item-list.name' | translate }}</label>
                <input type="text" name="itemName" formControlName="itemName" class="form-control"
                  [(ngModel)]="item.name" [ngClass]="{'is-invalid': submitted && f.itemName.errors }" />
                <div class="invalid-feedback" *ngIf="submitted && f.itemName.errors">
                  <span *ngIf="f.itemName.errors.required">{{'validators.error.required' | translate}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="price">{{'labels.item-list.price' | translate }}</label>
                <input type="number" name="price" formControlName="itemPrice" class="form-control"
                  [(ngModel)]="item.price" [ngClass]="{'is-invalid': submitted && f.itemPrice.errors }" />
                <div class="invalid-feedback" *ngIf="submitted && f.itemPrice.errors">
                  <span *ngIf="f.itemPrice.errors.required">{{'validators.error.required' | translate}}</span>
                </div>
              </div>
            </div>
            <div [hidden]="!isSaved">
              <h4>{{'messages.admin.saved' | translate}}</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [hidden]="isSaved">{{'labels.item-list.save' | translate }}</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisSaved()">{{'labels.item-list.close' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>