<div class="content-cart">
    <div class="show-cart">
        <h4>CART</h4> 
        <div class="nav-bar-show-cart">
            <div class="row">
                <div class="col-3">
                    <p class="item-nav text-secondary">
                        All item
                    </p>
                </div>
            </div>
        </div>
        <div class="card-cart-detail">
            <div class="card-body d-flex justify-content-between pt-5">
                <div>rsg</div>
                <div>d</div>
                <div>gds</div>
                <div>dgds</div>
            </div>
            <div class="card-footer">
                <h6>Discount shop</h6>
            </div>
        </div>
    </div>
    <div class="infor-checkout">

    </div>
</div>
