.content-cart {
    display: flex;
    height: 200vh;
    padding-top: 20px;
    padding-left: 160px;
    padding-right: 120px;
    .show-cart {
        width: 65%;
        margin-right: 30px;

        .nav-bar-show-cart {
            margin-top: 20px;
            height: 6vh;
            background-color: #FFFFFF;

            .item-nav {
                margin-top: 10px;
                margin-left: 50px;
             }
        }

        .card-cart-detail {
            margin-top: 10px;
            height: 30vh;
            background-color: #FFFFFF;

            .increase {
                display: flex;
                justify-content: space-between;
                height: 30px;
                width: 90px;
                text-align: center;
                background-color: aliceblue;

                .plus {
                    text-align: center;
                    background-color: rgba(192, 192, 192, 0.518);
                    width: 30%;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                } 
                .in {
                    text-align: center;
                    width: 40%;
                } 
                .minus {
                    text-align: center;
                    background-color: rgba(192, 192, 192, 0.518);
                    width: 30%;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-size: 18px;
                }
            }
            .card-body{
                height: 77%;
            }
            .card-footer{
                height: 23%;
                background-color: #FFFFFF;
            }
        }
    }

    .infor-checkout {
        margin-top: 48px;
        width: 31%;
        height: 75vh;
        background-color: #FFFFFF;
    }
}