.content {
  display: flex;
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden;
  background-color: #f5f5fb;

  .sidebar {
    height: 80vh;
    width: 20%;
    background-color: #ffffff;
  }

  .show-items {
    height: 100%;
    width: 80%;
    margin-left: 20px;
    padding-bottom: 40px;
    background-color: #f5f5fb;
    overflow-x: hidden;

    .list {
      height: auto;
      width: 100%;
    }
  }
}
