<div class="content">
    <div class="sidebar">
    </div>
    <div class="show-items">
        <div class="list">
            <div class="row mt-4">
                <div class="col-3 mt-2" *ngFor="let item of items; index as i;">
                    <div class="item">
                        <div>{{'labels.show-item.name' | translate}} {{item.name}}</div>
                        <div class="mt-3">{{'labels.show-item.price' | translate}} {{item.price}}</div>
                        <button type="button" class="btn btn-danger" (click)="addItemToCart(item.id)"
                            [disabled]="isAdmin">{{'labels.show-item.add-to-cart' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>