.content-items {
    display: flex;
   padding-left: 50px;
   height: 88vh;
   overflow: hidden;
    .directory {
        width: 20%;
        height: 60%;
    }
    .show-items {
        width: 68%;
        overflow: hidden;
        background-color: #f8f1e7;
        margin-left: 15px;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;

        .item {
            padding-top: 10px;
            padding-left: 10px;
            background-color: #FFFFFF;
            height: 150px;
            border-radius: 2%;

            .btn {
                margin-top: 15px;
                margin-left: 70px;
            }
        }
    }
}
