<div class="main" *ngIf="isAdminLogged || isUserAdminLogged">
    <div class="side-bar">
        <div class="title ">
            <h4 class="text-white fw-bold p-4">ADMIN</h4>
        </div>

    </div>
    <div class="content">
        <div class="header">
            <div class="dropdown">
                <h3 class="drop"><i class="bi bi-person-circle"></i></h3>
                <div class="dropdown-content">
                    <span (click)="goHome()">My account</span>
                    <span (click)="goHome()">Home page</span>
                    <span (click)="logout()">Log out</span>
                </div>
            </div>
        </div>
        <div class="p-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="main" *ngIf="!isAdminLogged || !isUserAdminLogged">
    you do not have access to access this page or you are not logged in ? Please you logged in at here<a routerLink="/login" routerLinkActive="active"
        class="register text-info"> Log in</a>
</div>