.main {
    display: flex;
    background-color: #E0E0EC;
    overflow-x: hidden;
}
.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;
}

.side-bar {
    background-color: #3C4B64;
    width: 18%;
    height: 100vh;
    .title {
        display: flex;
        justify-content: center;
        background-color: #303C54;
        height: 10%;
    }
}
.content {
    width: 100%;
    height: 100%;
}