.main {
    display: flex;
    background-color: #F5F5FB;
    overflow: hidden;
    .side-bar {
        background-color: #3C4B64;
        width: 21vw;
        height: 150vh;
        .title {
            display: flex;
            justify-content: center;
            background-color: #303C54;
            height: 8%;
        }
    }
    .content {
        width: 100%;
        height: 150vh;
        .header {
            background-color: #FFFFFF;
            height: 8%;
        }
    }
}



