.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #F5F5FB;
    padding-top: 150px;

    .form {
        height: 65%;
        width: 30%;
        background-color: white;
        border-radius: 2%;
        padding-top: 100px;
        padding-left: 100px;
    }
}