<div class="main">
    <div class="form">
        <div>
            <label for="id">User</label>

            <select class="form-select form-select-sm" ng-model="id" name="id">
                <option selected>Open this select menu</option>
                <option value="1">Customer1</option>
                <option value="2">Customer2</option>
                <option value="3">Admin1</option>
                <option value="4">Customer3</option>
            </select>
        </div>
        <button type="button" class="btn btn-success" (click)="getId()">Log in</button>
    </div>
</div>