.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #F5F5FB;
    padding-top: 70px;
    padding-bottom: 30px;

    .form {
        height: 100%;
        width: 30%;
        background-color: white;
        border-radius: 2%;
        

        .title {
            height: 80px;
            text-align: center;
            padding-top: 30px;
        }

        .input {
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;

            a:hover{
                text-decoration:none;
                color: aquamarine;
            }

            .register {
                margin-left: 2px;
            }
        }
    }
}