.main {
  display: flex;
  justify-content: center;
  height: 110vh;
  background-color: #f5f5fb;
  padding-top: 30px;
  padding-bottom: 30px;

  .form {
    height: auto;
    width: 45%;
    background-color: white;
    border-radius: 2%;

    .title {
      height: 90px;
      text-align: center;
      padding-top: 20px;
    }

    .input {
      margin-top: 50px;
      margin-left: 50px;
      margin-right: 50px;
      height: auto;
      a:hover {
        text-decoration: none;
        color: aquamarine;
      }

      .register {
        margin-left: 2px;
      }
    }
  }
}
