<div class="main">
  <div class="form">
    <div class="title">
      <h2 class="fw-bold mb-2 text-uppercase text-info"><i class="bi bi-balloon-heart-fill"></i>Register</h2>
      <p class="text-info">{{'messages.home.login-register.register-note-title' | translate}}</p>
    </div>
    <div class="input">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="alert alert-danger mb-3 mt-3" *ngIf="message">
          <span>{{message}}</span>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label class="text-muted" for="username">{{'labels.login-register.username' | translate}}</label>
            <input type="text" name="username" class="form-control form-control-lm" formControlName="username"
              [ngClass]="{'is-invalid': submitted && f.username.errors}" />
            <div class="mt-2 invalid-feedback" *ngIf="submitted && f.username.errors">
              <span *ngIf="f.username.errors.required">{{'validators.error.required' | translate}}</span>
              <span *ngIf="f.username.errors.minlength">{{'validators.error.min-length' | translate}}</span>
              <span *ngIf="f.username.errors.maxlength">{{'validators.error.max-length' | translate}}</span>
            </div>
          </div>
          <div class="form-group col-6">
            <label class="text-muted" for="password">{{'labels.login-register.password' | translate}}</label>
            <input type="password" name="password" class="form-control form-control-lm" formControlName="password"
              [ngClass]="{'is-invalid': submitted && f.password.errors}" />
            <div class="mt-2 invalid-feedback" *ngIf="submitted && f.password.errors">
              <span *ngIf="f.password.errors.required">{{'validators.error.required' | translate}}</span>
              <span *ngIf="f.password.errors.minlength">{{'validators.error.min-length' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="form-group col-6">
            <label class="text-muted" for="email">{{'labels.login-register.email' | translate}}</label>
            <input type="email" name="email" class="form-control form-control-lm" placeholder="user@gmail.com"
              formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}" />
            <div class="mt-2 invalid-feedback" *ngIf="submitted && f.email.errors">
              <span *ngIf="f.email.errors.required">{{'validators.error.required' | translate}}</span>
              <span *ngIf="f.email.errors.email">{{'validators.error.email' | translate}}</span>
            </div>
          </div>
          <div class="form-group form-check col-6">
            <label class="text-muted" for="confirmPassword">{{'labels.login-register.confirm-password' |
              translate}}</label>
            <input type="password" name="confirmPassword" class="form-control form-control-lm"
              formControlName="confirmPassword" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}" />
            <div class="mt-2 invalid-feedback" *ngIf="submitted && f.confirmPassword.errors">
              <span *ngIf="f.confirmPassword.errors.required">{{'validators.error.required' | translate}}</span>
              <span *ngIf="f.confirmPassword.errors.mustMatch">{{'validators.error.password-must-match' |
                translate}}</span>
            </div>
          </div>
          <div class="col">
            <label class="text-muted" for="email">{{'labels.login-register.role' | translate}}</label>
            <div>
              <input class="checkbox-lg" type="checkbox" (click)="setRoles('user',$event)" checked>
              {{'labels.login-register.user' | translate}}
            </div>
            <div>
              <input class="checkbox-lg" type="checkbox" (click)="setRoles('admin',$event)">
              {{'labels.login-register.admin' | translate}}
            </div>

          </div>
        </div>
        <div class="mt-4 mb-4">
          <button type="submit" class="btn btn-info w-100">{{'labels.login-register.register' | translate |
            uppercase}}</button>
        </div>
        <div class="d-flex mt-3">
          <p>{{'messages.home.login-register.login' | translate}}</p>
          <a routerLink="/login" routerLinkActive="active" class="register text-info">{{'labels.header.log-in' |
            translate}}</a>
        </div>
        <div class="text-center">
          <a routerLink="" routerLinkActive="active" class="register text-info">{{'labels.header.home-page' |
            translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>