<div class="content-order">
    <div class="directory">
    </div>
    <div class="show-orders">
        <h5 class="text-muted mt-5">My order</h5>
        <div class="nav-bar-orders">
            <div class="row">
                <div class="col-3">
                    <p class="item-nav text-secondary">
                        All order
                    </p>
                </div>
            </div>
        </div>
        <div class="card-item" *ngFor="let order of orders">
            <div><i class="bi bi-truck"></i> Successful delivery</div>
            <hr>
            <div class="body" *ngFor="let orderDetail of order.orderDetails">
                <div>
                    <p>{{orderDetail.item.name}}</p>
                    <p>Quanitty: {{orderDetail.quantity}}</p>
                </div>
                <p>{{orderDetail.item.price * orderDetail.quantity}} vnd</p>
            </div>
            <hr>
            <div class="footer">
                Total price: {{order.totalPrice}} vnd
            </div>
        </div>
    </div>
</div>