<div class="content-order">
    <div class="directory">
    </div>
    <div class="show-orders">
        <h5 class="text-muted mt-5">My order</h5>
        <div class="nav-bar-orders">
            <div class="row">
                <div class="col-3">
                    <p class="item-nav text-secondary">
                        All order
                    </p>
                </div>
            </div>
        </div>
        <div class="card-item" *ngFor="let order of orders">
            <div class="card-header text-muted"><i class="bi bi-truck"></i> Successful delivery</div>
            <div class="card-body" *ngFor="let orderDetail of order.orderDetails">
                <div class="d-flex justify-content-between">
                    <div>
                        <p>{{orderDetail.item.name}}</p>
                        <p>Quanitty: {{orderDetail.quantity}}</p>
                    </div>
                    <p>{{orderDetail.item.price}} vnd</p>
                </div>
            </div>
            <div class="card-footer bg-white d-flex justify-content-end">
                <p>Total price: </p>
                <div class="total-price">
                </div>
            </div>
        </div>
    </div>
</div>